* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color:white;
    color:black;
    padding-top: 31px;
}
.navbar-brand{
    font-family: 'Playball', cursive;
    font-size: 1.25vw;
}
.brand {
    font-size: 18px;
}
.nav-link{
    font-family: "Droid Sans Japanese";
}
.search-form{
    margin-left: 1%;
}
.search-form input{
    height: 33.5px;
    max-width: 75%;
}
.search-form button {
    color: whitesmoke;
    font-weight: bold;
    border: solid 2px whitesmoke;
    margin-left: -4px;
    /*background-color:lightseagreen;*/
}
.cart {
    margin-left: 1%;
    /*margin-right: -1rem;*/
    padding: 0;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    /*border-radius: 5px;*/
    background-color: transparent;
}
.cart:hover {
    background-color: darkturquoise;
}
.cart:hover span{
    background-color: darkturquoise;
}
.sitemenu {
    margin-right:3%;
}
.sitecontainer {
    padding: 0 10% 5.95% 10%;
    min-height: 100%;
}
.login {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2% 5% 2% 5%;
    border: solid 1px darkslategrey;
}
.home-page{
    font-family: "Times New Roman";
}
.home-page p {
    font-style: italic;
    font-size: 1.11em;
}
.home-page h2 {
    font-size: 2.5em;
    text-align: center;
}
.alert button{
    color: red;
    width: 25px;
    height: 25px;
    border: solid 1px whitesmoke;
    border-radius: 50%;
    background-color: whitesmoke;
    opacity: 1;
}
.alert button:hover{
    color: white;
    opacity: 1;
    background-color: red;
}

.items-wrap{
    background-color: whitesmoke;
    border:solid 1px darkslategrey ;
    text-align: center;
    height: 410px;
    margin-top: 3px;
}
.items-alert{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}
.items{
    background-color: whitesmoke;
    height: 390px;
    position: absolute;
    overflow: hidden;
    left: 0;
}
.items:hover{
    height: auto;
    border:solid 2px darkslategrey ;
    background-color: floralwhite;
    z-index: 999;
}

.myjumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding:5px;
    text-align: center;
    border: solid 1px gainsboro ;
    border-radius: 4px;
}
.display{
    font-size: 1.25em;
    font-weight: bold;
    font-family: "Times New Roman";
}
.amount-item-in-cart-from-catalog {
    width: 40%;
    height: 38px;
    margin-right: 20%;
}
.item_cart_from_catalog {
    width: 40%;
    height: 42px;
}
.item_title{
    color: darkslategrey;
}
.item_price{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item_summury{
    color: darkslategrey;
}

.carousel-image{
    max-height: 400px;
}
.view_item{
      float: left;
    text-align: center;

}
.carousel-indicators li{
   background-color: #0f9bab;
    height: 10px;
    border-radius: 20%;
    border: 1px solid #0f9bab;
}
.item_view_details{
    float: right;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
#div-user-comment {
    display: none;
}
#form-user-comment, #counter{
    padding-top: 5px;
}
.user_comments{

    margin: 2% 0 2% 0;
    font-size: 0.85em;
}
.user_comments button{
    margin-top: 1%;
    margin-bottom: 1%;
}
.open-comments{
    color: green;
}
.close-comments{
    color: darkred;
}
.open-comments, .close-comments{
    margin-left: 9px;
    padding: 3px 7px 3px 7px;
    /*width: 40px;*/
    /*height: 30px;*/
    border-radius: 17%;
    cursor: pointer;
    border: 1px solid floralwhite;
    background-color: honeydew;
}
.comment-content{
    font-family: "Times New Roman";
    border-bottom: solid 2px gainsboro;
    background-color: honeydew;
}
.amount-item-in-cart{
    width: 50%;
    height: 40px;
}
.item_cart{
    width: 50%;
}
.it-discr{
    color: darkslategrey;
    font-size: 24px;
}
.view-cart-title{
    padding: 7px;
    float: right;
    /*background-color: cyan;*/
    font-size: 18px;
    text-align: center;
}
.view-cart-image{
    float: left;
    max-height: 107px;
    /*background-color: red;*/
}
.view-cart{
    border-top: solid 1px gainsboro;
}
.category-wrap{
    background-color: whitesmoke;
    outline: 1px solid darkslategrey ;
    outline-offset:-3px ;
    text-align: center;
    padding-left: 11px;
    padding-right: 0;
}
.category-wrap a {
    color: darkslategrey;
}
.category-img{
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3px;
}
.category-title{
    float: right;
    padding-top: 20px;
}
.category-title p {
    font-weight: bold;
    font-style: italic;
}
.category-title a:hover{
    text-decoration: none;
}
.img-category{
    /*width: 100%;*/
}
.subCategory{
    color: darkslategrey;
    border: solid 1px gainsboro;
}
.subCategory:hover{
    color: black;
    border: solid 2px darkslategrey;
    background-color: gainsboro;
    text-decoration: none;
}
.modfutter{
    width: 100%;
    margin-top: 13px;
    border-top: solid 1px gainsboro;
    padding-top: 15px;
}
.total-sum{
    float: left;
    font-size: 20px;
    text-align: center;
}
.viewcart{
    /*background-color: cyan;*/
    /*padding: 0;*/
    float: left;
    /*height: 150px;*/
}
.vic{
    margin-top: 11px;
    border-top: solid 1px darkslategrey;
    padding-top: 7px;
}
.viewcartimage{
    float: left;
    /*background-color: mediumblue;*/
    /*max-height: 50px;*/
}
.viewcarttitle{
    font-size: medium;
    float: left;
}
.totalsum{
    font-size:large;
    border-top: solid 1px darkslategrey;
    margin-top: 7px;
    text-align: center;
    width: 100%;
}
.ordering1{
    float: right;
    margin-bottom: 15px;
    background-color: gainsboro;
    padding: 15px;
    text-align: center;
}
.alert-ordering{
    background-color: darkturquoise;
    color: white;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
    font-size: 1.11em;

}
.footer {
    clear: both;
    width: 100%;
    height: 13%;
    margin: -5.65% 0% -0.25% 0%;
    background-color: #0f9bab;
    text-align: left;
    padding-left:11px;
    padding-top: 11px;
    color: floralwhite;

}
.page-error{
    font-size: 22px;
    text-align: center;
}
















































































































