* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color:white;
    color:black;
    padding-top: 31px;
}
.navbar-brand{
    font-family: 'Playball', cursive;
    font-size: 1.25vw;
}
.brand {
    font-size: 18px;
}
.nav-link{
    font-family: "Droid Sans Japanese";
}
.cart {
    margin-left: 3%;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    background-color: transparent;
}
.cart:hover{
    background-color: darkturquoise;
}
.sitemenu {
    margin-right:3%;
}
.sitecontainer {
    padding: 0 11% 5.5% 11%;
    min-height: 100%;
}
.login {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2% 5% 2% 5%;
    border: solid 1px darkslategrey;
}

.items-wrap{
    background-color: whitesmoke;
    border:solid 1px darkslategrey ;
    text-align: center;
    height: 410px;
    margin-top: 3px;
}
.items-alert{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}
.items{
    background-color: whitesmoke;
    height: 390px;
    position: absolute;
    overflow: hidden;
    left: 0;
}
.items:hover{
    height: auto;
    border:solid 2px darkslategrey ;
    background-color: floralwhite;
    z-index: 999;
}
.myjumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding:5px;
    text-align: center;
}
.display{
    font-size: 4vw;
}
.amount-item-in-cart-from-catalog {
    width: 40%;
    height: 38px;
    margin-right: 20%;
}
.item_cart_from_catalog {
    width: 40%;
    height: 42px;
}
.item_title{
    color: darkslategrey;
}
.item_price{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item_summury{
    color: darkslategrey;
}

.carousel-image{
    max-height: 400px;
}
.view_item{
      float: left;
    text-align: center;

}
.carousel-indicators li{
   background-color: #0f9bab;
    height: 10px;
    border-radius: 20%;
    border: 1px solid #0f9bab;
}
.item_view_details{
    float: right;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.amount-item-in-cart{
    width: 50%;
    height: 40px;
}
.item_cart{
    width: 50%;
}
.it-discr{
    color: darkslategrey;
    font-size: 24px;
}
.view-cart-title{
    padding: 7px;
}
.category-wrap{
    background-color: whitesmoke;
    outline: 1px solid darkslategrey ;
    outline-offset:-3px ;
    text-align: center;
    padding-left: 11px;
    padding-right: 0;
}
.category-wrap a {
    color: darkslategrey;
}
.category-img{
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3px;
}
.category-title{
    float: right;
    padding-top: 20px;
}
.category-title p {
    font-weight: bold;
    font-style: italic;
}
.category-title a:hover{
    text-decoration: none;
}
.img-category{
    width: 100%;
}
.subCategory{
    color: darkslategrey;
    border: solid 1px gainsboro;
}
.subCategory:hover{
    color: black;
    border: solid 2px darkslategrey;
    background-color: gainsboro;
    text-decoration: none;
}
.footer {
    clear: both;
    height: 13%;
    margin: -5% 10% 0.25% 10%;
    background-color: black;
    text-align: left;
    color: floralwhite;

}
.page-error{
    font-size: 22px;
    text-align: center;
}
















































































































